{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/help-dialog.css' %}">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <script src="{% static 'js/help-dialog.js' %}" defer></script>
    <script src="{% static 'js/admin-messages.js' %}" defer></script>
{% endblock %}

{% block footer %}
<div id="footer">
    <div class="footer-content">

        <div class="footer-info">
            <span>{{ app_name }} (v{{ app_version }})</span>
            <span class="footer-separator">·</span>
            <span>
                Desarrollador:
                <a href="https://github.com/SMati000/ms_contable" target="_blank" rel="noopener noreferrer">{{ developer }}</a>
            </span>
        </div>

        <div class="footer-help">
            <span class="footer-help-title">Ayudas:</span>

            <a href="{% static 'docs/mapeo-conceptos-arca.html' %}"
               target="_blank">
                Conceptos y códigos ARCA
            </a>

            <a href="{% static 'docs/mapeo-codigos-arca_1.html' %}"
               target="_blank">
                Tablas
            </a>

            <a href="{% static 'docs/mapeo-codigos-arca.html' %}"
               target="_blank">
                Anexo
            </a>
        </div>

    </div>
</div>
{% endblock %}
