{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'liquidacion/admin/detalle_liquidacion_empleado.css' %}">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'liquidacion/admin/liquidacion.js' %}"></script>
{% endblock %}

{% block after_field_sets %}
    {{ block.super }}

    {% if liquidacion_empleado %}
        {% include "admin/includes/help_dialog.html" with help_title="Ayuda de liquidación" help_content_template="admin/includes/help/liquidacion_empleado.html" %}

        {% if liq_editable %}
        <div class="module">
            <h2>Aplicar plantilla de liquidación</h2>

            <div style="display: flex; gap: 8px; align-items: center;">
                <select id="plantilla-select">
                    <option value="">---------</option>

                    {% for plantilla in plantillas %}
                        <option value="{{ plantilla.pk }}">
                            {{ plantilla.denominacion }}
                        </option>
                    {% endfor %}
                </select>

                <button
                    type="button"
                    id="aplicar-plantilla"
                    class="button"
                    data-url-template="{% url 'admin:liquidacion_plantilla_detalles' 0 %}"
                >
                    Aplicar
                </button>
            </div>
        </div>
        {% endif %}


    {% endif %}
{% endblock %}

{% block submit_buttons_bottom %}
    <div class="submit-row">
    {% if liq_editable %}
        <input
            type="submit"
            value="Guardar"
            class="default"
            name="_continue"
        >
    {% endif %}

    {% if liquidacion_empleado %}
        {% if liq_editable %}
        <input
            type="submit"
            value="Calcular"
            class="botones-custom calcular-button"
            name="_calcular"
        >
        {% endif %}

            {% if recibo_original_url %}
            <a
                href="{{ recibo_original_url }}"
                target="_blank"
                class="botones-custom recibo-button"
            >
                Recibo original
            </a>

            <a
                href="{{ recibo_duplicado_url }}"
                target="_blank"
                class="botones-custom recibo-button"
            >
                Recibo duplicado
            </a>
            {% endif %}
    {% else %}
        {% if not liq_editable %}
            <button
                type="submit"
                class="botones-custom"
                formaction="{% url 'admin:liquidacion_rectificar' original.pk %}"
                formmethod="post"
                name="_rectificar"
            >
                Rectificar
            </button>
        {% endif %}
            {% if original %}
            <button
                type="button"
                class="botones-custom txt-button"
                id="btn-generar-txt"
                data-url="{% url 'admin:liquidacion_generar_txt' original.pk %}"
                data-csrf-token="{{ csrf_token }}"
            >
                Generar TXT
            </button>
            {% endif %}
    {% endif %}

    {% if change and has_delete_permission and not is_popup and liq_editable %}
        {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
        <a href="{% add_preserved_filters delete_url %}" class="deletelink">
            Eliminar
        </a>
    {% endif %}
    </div>
{% endblock %}
